/* ==========================================================================
   #BAND
   ========================================================================== */

.band {
  position: relative;
  margin-bottom: rem(72px);
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
  color: #fff;
  font-weight: 600;

  @include mq($from: lg) {
    margin-bottom: rem(100px);
  }
}

.band::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background-color: $bg-highlight;
  z-index: -1;
}

.band p {
  margin: 0;
}