/* ==========================================================================
   #DRUG-DETAILS
   ========================================================================== */

.drug-details {
  display: none;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #FFFFFF;
  box-shadow: 0px -5px 35px rgba(0, 0, 0, 0.05);

  @include mq($from: md) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  @include mq($from: lg) {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  &.is-open {
    display: block;
  }
}

.drug-details h3 {
  margin-bottom: rem(64px);
  font-size: rem(24px);

  @include mq($from: xs) {
    font-size: rem(32px);
  }
  @include mq($from: sm) {
    font-size: rem(36px);
  }
  @include mq($from: md) {
    font-size: rem(40px);
  }
  @include mq($from: lg) {
    font-size: rem(48px);
  }
}

.drug-details .list-dashed {
  margin-bottom: rem(60px);

  @include mq($from: md) {
    margin-bottom: rem(80px);
  }
}

.drug-details .list-dashed li {

  @include mq($from: xs) {
    padding-left: 20px;
  }
  @include mq($from: md) {
    padding-left: 40px;
  }
}

.drug-details .list-dashed figure {
  width: 23%;
  margin-right: 24px;
  text-align: center;

  @include mq($from: sm) {
    margin-right: 32px;
  }
  @include mq($from: md) {
    margin-right: 64px;
  }
}

.drug-details .list-dashed li > span {
  flex-grow: 1;
  flex-basis: 0;
}

.drug-details__note {

  @include mq($from: lg) {
    font-size: rem(24px);
  }
}