/* ==========================================================================
   #DRUGBOX-SECTION
   ========================================================================== */

.drugbox-section {
  padding-bottom: 60px;

  @include mq($from: md) {
    padding-bottom: 80px;
  }
  @include mq($from: lg) {
    padding-bottom: 100px;
  }
}

.dragbox__img {
  display: block;
  margin-bottom: 40px;

  @include mq($from: md) {
    margin-bottom: 0;
  }
}

.dragbox__text {

  @include mq($from: lg) {
    font-size: rem(24px);
  }
}

.dragbox__text > p {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.drugbox-section .btn {
  max-width: 520px;
}