/* ==========================================================================
   #PREVENTION-SECTION
   ========================================================================== */

.prevention-section {
  padding-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px -5px 35px rgba(0, 0, 0, 0.05);

  @include mq($from: md) {
    padding-top: 70px;
  }
  @include mq($from: lg) {
    padding-top: 90px;
  }
}

.prevention-heading {
  margin-bottom: 60px;

  @include mq($from: md) {
    margin-bottom: 80px;
  }
  @include mq($from: lg) {
    margin-bottom: 100px;
  }
}

.prevention-heading h2 {
  max-width: 480px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
  
  @include mq($from: md) {
    margin: 0;
    float: left;
    text-align: left;
  }
}

.prevention-heading img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: sm) {
    width: auto;
  }

  @include mq($from: md) {
    margin: 0;
    float: right;
  }
}

.prevention-section .list-dashed {
  text-align: center;

  li {
    
    @include mq($from: md) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}